@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Sora:wght@100..800&display=swap');

.nav-link,
.btn,
.dropdown-item,
h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
     color: white;
    text-shadow:
    -2px -2px 10px black,
     2px -2px 10px black,
    -2px  2px 10px black,
     2px  2px 10px black;
}

h2 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-shadow: 3px 3px 0px rgb(88, 100, 109);
}

.subtitulo-portada, .modal-title {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none !important;
    text-shadow: none !important;
}

h3 {
    font-family: "Marope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


h4,
.accordion-button {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p,
.card-body,
.accordion-body,
cite {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dropdown-item {
    color: rgb(41, 41, 41) !important;
}

.btn-presupuesto {
    background-color: rgb(2, 58, 2);
    color: rgb(250, 248, 248);
    border-bottom: 2px solid gray;
}

.btn-presupuesto:hover {
    border-color: rgb(2, 58, 2)!important;
    color: rgb(0, 0, 0)!important;
}

.btn-enviar {
    background-color: rgb(5, 142, 233);
    text-decoration: none !important;
    color: white !important;
}

.btn-enviar:hover {
    background-color: rgb(129, 195, 238);
}

a {
    text-decoration: none !important;
    color: white !important;
}

nav,
.navbar-expand-lg {
    background-color: black !important;
    padding: 10px;
}

.nav-link {
    color: white !important;
    margin-right: 15px;
    margin-left: 15px;
}


.nav-link:hover {
    color: rgb(122, 122, 122) !important;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.btn-tienda {
    color: black;
    background-color: rgb(250, 129, 30);
    border-color: rgb(250, 129, 30);
    margin-left: 10px;
}

.btn-tienda:hover {
    color: rgb(250, 129, 30);
    background-color: black;
    border-color: rgb(250, 129, 30);
    margin-left: 10px;
}

.btn.btn-outline-success {
    color: blue;
    border-color: blue;
}

.btn.btn-outline-success:hover {
    background-color: rgb(181, 223, 247);
    color: rgb(0, 0, 0) !important;
}

.btn-primary {
    background-color: rgb(248, 171, 99);
    border-color: rgb(248, 171, 99);
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.link-footer {
    color: rgb(40, 149, 177) !important;
}

.logonav {
    margin-left: 20px !important;
}

.WhatsApp-fijo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}


.flecha-azul {
    max-width: 50px;
    transform: translateY(160px);

}

.card-header .card-body {
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    border-top: 2px solid gray;
}

.Marcas-color {
    background-color: rgb(199, 245, 94);
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
}

.Como-trabajamos-color {
    background-color: rgb(250, 249, 177);
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
}

.navbar-presupuesto {
    background-color: rgb(49, 49, 49)  !important;
}

.link-presupuesto:hover {
    color: rgb(32, 110, 211)  !important;
}

body {
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {

    header,
    footer {
        padding: 20px;
    }

    section {
        display: block;
    }


    nav li {
        display: block;
        padding: 10px;
    }

}